
lab4/imagens/Y2Mate_is_-_Santarém_-_Vista_Aérea_4K_UHD-KBSQy8EkIyw-480p-1655322273593_AdobeExpress.mp4
lab4/imagens/Y2Mate.is - Santarém 4K Capital do Gótico  Portugal-q1VVbpR21g8-1080p-1654729797347.mp4
