{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/stylePW.css' %}">


<html lang="pt">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">    <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
  ></script>    <link rel="stylesheet" href="stylePW.css">
    <title>Portfólio Digital!</title>
</head>
<body>
    <div class = "container">
        <nav>
            <div class="nome">Joana<b>.</b></div>
            <ul class="navItems">
              <li><a href="{% url 'portfolio:home' %}">Home</a></li>
        <li><a href="{% url 'portfolio:formacao' %}">Formação</a></li>
        <li><a href="{% url 'portfolio:projetos' %}">Projetos</a></li>
        <li><a href="{% url 'portfolio:competencias' %}">Competencias</a></li>
        <li><a href="{% url 'portfolio:layout' %}">JavaScript</a></li>
        <li><a href="{% url 'portfolio:blog' %}">Blog</a></li>
            </ul>
            </nav>

            <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programação Web</title>
  </head>
  <body>
    <main>

    <h1>Tecnologias de Programação Web</h1>
    <section>
    <h2>Back-end</h2>
    <ul>
      <li>
        Laravel - Ano de criação: 2011 - Criador: Taylor Otwell -
        <a href="https://laravel.com/">laravel.com</a> - Framework PHP
        elegante e expressivo.
      </li>
      <li>
        ASP.NET - Ano de criação: 2002 - Criador: Microsoft -
        <a href="https://dotnet.microsoft.com/apps/aspnet">dotnet.microsoft.com</a>
        - Framework web open source para construir aplicativos modernos na
        plataforma .NET.
      </li>
      <li>
        Spring MVC - Ano de criação: 2002 - Criador: Pivotal Software -
        <a href="https://spring.io/projects/spring-framework">spring.io</a> -
        Framework Java para construção de aplicativos web escaláveis e de alta
        qualidade.
      </li>
      <li>
        Express - Ano de criação: 2010 - Criador: TJ Holowaychuk -
        <a href="https://expressjs.com/">expressjs.com</a> - Framework Node.js
        para construção de aplicativos web robustos e escaláveis.
      </li>
      <li>
        Django - Ano de criação: 2005 - Criador: Django Software Foundation -
        <a href="https://www.djangoproject.com/">djangoproject.com</a> -
        Framework Python para construção de aplicativos web, que incentiva o
        desenvolvimento rápido e limpo.
      </li>
    </ul>
  </section>
  <section>
    <h2>Front-end</h2>
    <ul>
      <li>
        Angular - Ano de criação: 2010 - Criador: Google -
        <a href="https://angular.io/">angular.io</a> - Framework JavaScript
        para construção de aplicativos web escaláveis e de alta performance.
      </li>
      <li>
        React - Ano de criação: 2013 - Criador: Facebook -
        <a href="https://reactjs.org/">reactjs.org</a> - Biblioteca JavaScript
        para construção de interfaces de usuário declarativas e escaláveis.
      </li>
      <li>
        Vue - Ano de criação: 2014 - Criador: Evan You -
        <a href="https://vuejs.org/">vuejs.org</a> - Framework JavaScript
        progressivo para construção de interfaces de usuário interativas e
        dinâmicas.
      </li>
      <li>
        Svelte - Ano de criação: 2016 - Criador: Rich Harris -
        <a href="https://svelte.dev/">svelte.dev</a> - Framework JavaScript
        radicalmente novo para construção de aplicativos web rápidos e eficientes.
      </li>
    </ul>
    <h2>Outras</h2>
    <ul>
      <li>
        WordPress - Ano de criação: 2003 Criador: Matt Mullenweg e Mike Little -
        <a href="https://wordpress.org/">wordpress.org</a> - Plataforma de
        gerenciamento de conteúdo (CMS) de código aberto e gratuito, utilizada
        para criar sites e blogs.
        </li>
        <li>
        OutSystems - Ano de criação: 2001 - Criador: Paulo Rosado -
        <a href="https://www.outsystems.com/">outsystems.com</a> - Plataforma
        de desenvolvimento de aplicativos de baixo código para construir
        aplicativos web, mobile e empresariais.
        </li>
        <li>
        Weebly - Ano de criação: 2006 - Criador: David Rusenko, Chris Fanini e
        Dan Veltri - <a href="https://www.weebly.com/">weebly.com</a> -
        Plataforma de construção de sites e comércio eletrônico com interface
        simples e intuitiva.
        </li>
        <li>
        Wix - Ano de criação: 2006 - Criador: Avishai Abrahami, Nadav Abrahami e
        Giora Kaplan - <a href="https://www.wix.com/">wix.com</a> - Plataforma
        de construção de sites com ferramentas de design visual para criar
        sites web e lojas online.
        </li>
          </ul></section>
          <section>
          <h2>Laboratórios de Programação Web</h2>
          <ul>
            <li>
              <a href="#">Laboratório 1</a> - HTML, CSS e JavaScript básico
            </li>
            <li>
              <a href="#">Laboratório 2</a> - Manipulação de DOM e Eventos
            </li>
            <li>
              <a href="#">Laboratório 3</a> - Frameworks Front-end (Angular, React,
              Vue)
            </li>
            <li>
              <a href="#">Laboratório 4</a> - Frameworks Back-end (Laravel, ASP.NET,
              Spring MVC, Express, Django)
            </li>
            <li>
              <a href="#">Laboratório 5</a> - Plataformas de Gerenciamento de Conteúdo
              (WordPress, OutSystems, Weebly, Wix)
            </li>
          </ul>
          </section><section>
          <h2>Notícias sobre Programação Web</h2>
          <ul>
            <li>
              <a href="#">Título da Notícia 1</a> - 3 linhas de texto sobre a notícia
              - <a href="#">link para a notícia</a>
            </li>
            <li>
              <a href="#">Título da Notícia 2</a> - 3 linhas de texto sobre a notícia
              - <a href="#">link para a notícia</a>
            </li>
            <li>
              <a href="#">Título da Notícia 3</a> - 3 linhas de texto sobre a notícia
              - <a href="#">link para a notícia</a>
            </li>
            <li>
              <a href="#">Título da Notícia 4</a> - 3 linhas de texto sobre a notícia
              - <a href="#">link para a notícia</a>
            </li>
            <li>
              <a href="#">Título da Notícia 5</a> - 3 linhas de texto sobre a notícia - <a href="#">link para a notícia</a>
            </li>

          </ul>
    </section>
              <section>
                <h2>Técnicas e efeitos que gosto</h2>
                <ul>
                  <li>Parallax scrolling</li>
                  <li>Hover effects</li>
                  <li>Lazy loading images</li>
                </ul>
              </section>

              <section>
                <h2>Sites que gosto</h2>
                <ul>
                  <li><a href="#">Site 1</a></li>
                  <li><a href="#">Site 2</a></li>
                  <li><a href="#">Site 3</a></li>
                </ul>
              </section>

              <section>
                <h2>Sites que acho maus</h2>
                <ul>
                  <li><a href="#">Site 4</a></li>
                  <li><a href="#">Site 5</a></li>
                  <li><a href="#">Site 6</a></li>
                </ul>
              </section>

              <section>
                <h2>Tendências modernas de programação Web</h2>
                <p>Algumas das tendências mais populares incluem:</p>
                <ul>
                  <li>Desenvolvimento orientado a componentes</li>
                  <li>Integração de inteligência artificial e aprendizado de máquina</li>
                  <li>Progressive Web Apps</li>
                  <li>Aplicações de realidade virtual e aumentada</li>
                </ul>
              </section>

              <section>
                <h2>Aspectos obsoletos da programação Web</h2>
                <p>Alguns aspectos obsoletos incluem:</p>
                <ul>
                  <li>Uso excessivo de imagens em vez de CSS para efeitos visuais</li>
                  <li>Layouts baseados em tabelas em vez de CSS flexbox ou grid</li>
                  <li>Desenvolvimento sem consideração de acessibilidade</li>
                </ul>
              </section>
            </main>

            <div class="copyright">
              <a style="color:#fff" href="heroPage.html">Página principal | </a><a style="color: #fff;" href="contact.html">Contacta-me</a> | Joana Gonçalves | 2023 | Universidade Lusófona  </div>


            <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  </body>
</html></div>
    <script>
        const coords = { x: 0, y: 0 };
const circles = document.querySelectorAll(".circle");

const colors = [
"#E6F5FF",
  "#CCEBFF",
  "#B2E0FF",
  "#99D6FF",
  "#7FCBFF",
  "#66C1FF",
  "#4CB6FF",
  "#32ACFF",
  "#19A1FF",
  "#0087E6",
  "#0077CC",
  "#0066B3",
  "#005999",
  "#004D80",
  "#004266",
  "#00384D",
  "#002E33",
  "#002419",
  "#001A00",
  "#001200",
  "#000D00",
  "#000800"
];

circles.forEach(function (circle, index) {
  circle.x = 0;
  circle.y = 0;
  circle.style.backgroundColor = colors[index % colors.length];
});

window.addEventListener("mousemove", function(e){
  coords.x = e.clientX;
  coords.y = e.clientY;

});

function animateCircles() {

  let x = coords.x;
  let y = coords.y;

  circles.forEach(function (circle, index) {
    circle.style.left = x - 12 + "px";
    circle.style.top = y - 12 + "px";

    circle.style.scale = (circles.length - index) / circles.length;

    circle.x = x;
    circle.y = y;

    const nextCircle = circles[index + 1] || circles[0];
    x += (nextCircle.x - x) * 0.3;
    y += (nextCircle.y - y) * 0.3;
  });

  requestAnimationFrame(animateCircles);
}

animateCircles();

    </script>
            </div>
            </body>
            </html>